
p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.mainNav {
    width: 100%;
    height: 200px;
    background-color: black;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.searchForm{
    height: 40px;
    display: flex;
    justify-content: center;
}

.buttonValid{
    margin-left: 30px;
}

/*///////////////////////////  
CARDS
////////////////////////////*/

.cards {
    height: 360px;
    width : 270px;
    background-color: black;
    margin-top: 40px;
}